@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


.sobe{
  margin-top: -15px;
}

.sobee{
  margin-top: -20px;
}

.ajuste{
  margin-left: -5px;
}

.ajuste2{
  margin-top: -60px;
  margin-left: 240px;
}
